<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head.ejs')%>
</head>

<body>
  <div class="body-overlay">
    <!-- ============ HEADER ============ -->
    <%- include('./partials/header.ejs')%>
      <!-- ============ MAIN ============ -->
      <main>
        <div class="container">
          <h1>Pokemons</h1>
          <!-- NEW --><a id="newPoke" class="button button-primary" href="/pokemons/new">New
            Pokemon</a>
        </div><br />
        <ul>
          <% for(let i=0; i < pokemons.length; i++) { %>
            <div class="idxImgs">
              <a href="/pokemons/<%=i%>">
                <img src=<%=pokemons[i].img%> width="75" />
                <%= pokemons[i].name %>
              </a>
            </div>
            <!--- DELETE BUTTON --->
            <form action="/pokemons/<%=i%>?_method=DELETE" method="POST">
              <div id="delete">
                <input type="submit" value="X" />
              </div>
            </form>

            <!---- EDIT ---->
            <a href="/pokemons/<%=i%>/edit">Edit</a>
            <% } %>
        </ul>
  </div>
  </div>
  </main>
  <!-- ============ FOOTER ============ -->
  <%- include('./partials/footer.ejs')%>
    </div>
</body>

</html>